@model IEnumerable<Expenses.Models.Category>

@{
    ViewData["Title"] = "Categorias";
}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#myTable').dataTable({
            "language": {
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 to 0 of 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "lengthMenu": "Mostrar _MENU_ registros",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeira",
                    "last": "Última",
                    "next": "Próxima",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": clique para ordenar crescente",
                    "sortDescending": ": clique para ordenar decrescente"
                }
            },

            "columnDefs": [{
                "targets": [0, 3],
                "orderable": false
            }]

        });
    });
</script>

<br />
<br />
<h2><i class="bi bi-tags"></i> @ViewData["Title"]</h2>
<br />

<input type="button" onclick="location.href='@Url.Action("Create", "Categories")'" class="btn btn-primary" value="Criar Categoria" />
<br />
<br />

@if (TempData.ContainsKey("updated"))
{
    string updated = (string)TempData["updated"];
    if (updated != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span>A categoria <strong>@TempData["updated"] </strong> foi atualizada.</span>
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span>Nenhuma categoria foi atualizada.</span>
        </div>
    }
}

<table id="myTable" class="table">
    <thead>
        <tr>
            <th width="30">
                
            </th>
            <th>
                Nome
            </th>
            <th>
                Palavras-chave
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="@item.Icon" style="color: white;"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var count = 1;
                        foreach (var i in item.KeyWords)
                        {
                            if (count < item.KeyWords.Count)
                                @($"{"\u0022"}{i.Description}{"\u0022, "}")
                            else
                            {
                                @($"{"\u0022"}{i.Description}{"\u0022"}")
                            }
                            count++;
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square" style="color: white;"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3-fill" style="color: white;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>