@model IEnumerable<Expenses.Models.Movement>

@{
    ViewData["Title"] = "Movimentações";
}

<h2>@ViewData["Title"]</h2>

<!--
<br/>

<div class="row">
    <div class="col-md-1">
        Id
    </div>
    <div class="col-md-4">
        Descrição
    </div>
    <div class="col-md-2">
        Valor
    </div>
    <div class="col-md-2">
        Data
    </div>
    <div class="col-md-3">
        Identificador
    </div>
</div>

@foreach(var item in Model)
{
    <div class="row">
        <form class="row" asp-action="Create">
            <input type="hidden" asp-for="@item.Id)" />
            <div class="col-md-1">
                <input asp-for=@item.Id) class="form-control" />
            </div>
            <div class="col-md-4">
                <input asp-for=@item.Description) class="form-control" />
            </div>
            <div class="col-md-2">
                <input asp-for=@item.Value) class="form-control" />
            </div>
            <div class="col-md-2">
                <input asp-for=@item.Date) class="form-control" />
            </div>
            <div class="col-md-2">
                <input asp-for=@item.Identifier) class="form-control" />
            </div>
            <div class="col-md-1 form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
}
-->


<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                Id
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Valor
            </th>
            <th>
                Identificador
            </th>
            <th>
                Estabelecimento
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identifier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Establishment.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
