@model IEnumerable<IGrouping<Owner, Movement>>

@{
    ViewData["Title"] = "Movimentações";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}
<br />
<br />
<h2>@ViewData["Title"]</h2>
<br />

<div class="">
    <form asp-action="Search">
        <legend>Buscar: </legend>
        <div class="row border-primary text-light">
            <div class="col-md-6">
                <label for="minDate" class="control-label">Início</label>
                <input type="date" name="minDate" class="form-control" value=@ViewData["minDate"] />
            </div>
            <div class="col-md-6">
            <label for="maxDate" class="control-label">Fim</label>
                <input type="date" name="maxDate" class="form-control" value=@ViewData["maxDate"] />
            </div>
            <div>
                <br />
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
    </form>
</div>
<br />
<br />
@if (TempData.ContainsKey("saved"))
{
    int saved = (int)TempData["saved"];
    if (saved > 0)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @if (saved == 1)
            {
                <span><strong>@TempData["saved"] </strong> movimentação foi salva.</span>
            }
            else
            {
                <span><strong>@TempData["saved"] </strong> movimentações foram salvas.</span>
            }
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span>Nenhuma movimentação foi salva.</span>
        </div>
    }
}

<br />
<div class="accordion" id="accordionExample">
@foreach (var owner in Model)
{
    <div class="accordion-item">
        <h2 class="accordion-header" id=@("heading"+owner.Key.Id)>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#X@(owner.Key.Id)"  aria-expanded="false" aria-controls="collapse @owner.Key.Id">
                <div class="col-md-2">
                    <h4> @owner.Key.Name</h4>
                </div>
                <div class="col-md-3">
                    Período: @owner.Key.GetMovements().FirstOrDefault().Date.ToString("dd/MM/yyyy") a @owner.Key.GetMovements().LastOrDefault().Date.ToString("dd/MM/yyyy")
                </div>
                <div class="col-md-2">
                    Movimentações: @owner.Key.GetMovements().Count()
                </div>
                <div class="col-md-2 text-success">
                    Entradas: @owner.Key.TotalReceipts().ToString("F2")
                </div>
                <div class="col-md-2 text-danger">
                    Saídas: @owner.Key.TotalExpenses().ToString("F2")
                </div>
         </button>
      </h2>
      <div id="X@(owner.Key.Id)"  class="accordion-collapse collapse" aria-labelledby=@("heading"+owner.Key.Id) data-bs-parent="#accordionExample" style="">
         <div class="accordion-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Data
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Identificador
                        </th>
                        <th>
                            Estabelecimento
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in owner)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Identifier)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Establishment.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
         </div>
      </div>
   </div>
}
</div>
