@model Expenses.Models.ViewModels.MovementViewModel

@{
    ViewData["Title"] = "Movimentações";
}

<br />
<br />
<h2><i class="fa-solid fa-right-left"></i> @ViewData["Title"]</h2>
<br />

<p class="d-inline-flex gap-1">
    <a class="btn btn-outline-primary collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-search"></i> Buscar
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form asp-action="SearchMovements">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="MinDate" class="control-label">Início</label>
                    <input type="date" asp-for="MinDate" class="form-control" value="@Model.MinDate.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-md-6">
                    <label asp-for="MaxDate" class="control-label">Fim</label>
                    <input type="date" asp-for="MaxDate" class="form-control" value="@Model.MaxDate.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <br />
                    <label asp-for="Category.Name" class="control-label"><i class="bi bi-tags"></i> Categoria</label>
                    <select name="cats" multiple id="SelectedCats" asp-for="Category.Name" asp-items="@(new SelectList(Model.Categories,"Name","Name"))" class="form-control"><option selected>Selecione...</option></select>
                </div>
                <div class="col-md-6">
                    <br />
                    <label asp-for="Establishment.Name" class="control-label"><i class="bi bi-shop-window"></i> Estabelecimento</label>
                    <select name="estabs" multiple id="SelectedEstabs" asp-for="Establishment.Name" asp-items="@(new SelectList(Model.Establishments,"Name","Name"))" class="form-control"><option selected>Selecione...</option></select>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <label asp-for="Owner.Name" class="control-label"><i class="fa-solid fa-user"></i> Autora</label>
                <select name="owns" multiple id="SelectedOwns" asp-for="Owner.Name" asp-items="@(new SelectList(Model.Owners,"Name","Name"))" class="form-control"><option selected>Selecione...</option></select>
            </div>
                <div>
                    <br />
                    <button type="submit" class="btn btn-outline-primary">Buscar</button>
                </div>
        </form>
    </div>
</div>

<div class="">

</div>
<br />
<br />
@if (TempData.ContainsKey("saved"))
{
    int saved = (int)TempData["saved"];
    if (saved > 0)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @if (saved == 1)
            {
                <span><strong>@TempData["saved"] </strong> movimentação foi salva.</span>
            }
            else
            {
                <span><strong>@TempData["saved"] </strong> movimentações foram salvas.</span>
            }
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span>Nenhuma movimentação foi salva.</span>
        </div>
    }
}

@if (TempData.ContainsKey("catUpdated"))
{
    int catUpdated = (int)TempData["catUpdated"];
    if (catUpdated > 0)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @if (catUpdated == 1)
            {
                <span><strong>@TempData["catUpdated"] </strong> movimentação teve Categorias atualizadas.</span>
            }
            else
            {
                <span><strong>@TempData["catUpdated"] </strong> movimentações tiveram Categorias atualizadas.</span>
            }
        </div>
    }
}

<table class="table">
    <tr class="table-default">
        <th>
            Movimentações: @Model.Movements.Count()
        </th>
        <th class="text-success">
            Entradas: @Model.Movements.Where(x => x.Value > 0).Sum(x => x.Value).ToString("F2")
        </th>
        <th class="text-danger">
            Saídas: @Model.Movements.Where(x => x.Value < 0).Sum(x => x.Value).ToString("F2")
        </th>
    </tr>
</table>

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th>
                Autora
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Valor
            </th>
            <th>
                Estabelecimento
            </th>
            <th>
                Categorias
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movements)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Establishment.Name)
                </td>
                <td>@{  var count = 1;
                        foreach(var i in item.Categories)
                        {
                            if (count < item.Categories.Count)
                                        @($"{i.Name}{", "}")
                            else
                                        @i.Name;
                            count++;
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var optionsVal1 = [];
    $("#SelectedCats option").each(function () {
        optionsVal1.push($(this).val());
    });
    $.ajax({
        traditional: true,
        dataType: "json",
        data: { SelectedSortOrderOptions: optionsVal1 },
        success: function () {

        },
    });

    var optionsVal2 = [];
    $("#SelectedEstabs option").each(function () {
        optionsVal2.push($(this).val());
    });
    $.ajax({
        traditional: true,
        dataType: "json",
        data: { SelectedSortOrderOptions: optionsVal2 },
        success: function () {

        },
    });

    var optionsVal3 = [];
    $("#SelectedOwns option").each(function () {
        optionsVal3.push($(this).val());
    });
    $.ajax({
        traditional: true,
        dataType: "json",
        data: { SelectedSortOrderOptions: optionsVal3 },
        success: function () {

        },
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').dataTable({
            "language": {
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 to 0 of 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "lengthMenu": "Mostrar _MENU_ registros",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeira",
                    "last": "Última",
                    "next": "Próxima",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": clique para ordenar crescente",
                    "sortDescending": ": clique para ordenar decrescente"
                }
            },

        });
    });
</script>