@model Expenses.Models.ViewModels.InvoiceViewModel

@{
    ViewData["Title"] = "Fatura";
}

<h4>@ViewData["Title"]</h4>

<!--
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div>
            <h6>
                @Html.DisplayNameFor(model => model.Invoice.InvoiceType)
            </h6>
        </div>
        <div>
            @Html.DisplayFor(model => model.Invoice.InvoiceType)
        </div>
        <div>
            <h6>
                @Html.DisplayNameFor(model => model.Invoice.DtInitial)
            </h6>
        </div>
        <div>
            @Html.DisplayFor(model => model.Invoice.DtInitial)
        </div>
        <div>
            <h6>
                @Html.DisplayNameFor(model => model.Invoice.DtFinal)
            </h6>
        </div>
        <div>
            @Html.DisplayFor(model => model.Invoice.DtFinal)
        </div>
        <div>
            <h6>
                @Html.DisplayNameFor(model => model.Invoice.Total)
            </h6>
        </div>
        <div>
            @Html.DisplayFor(model => model.Invoice.Total)
        </div>
    </div>
</nav>
-->

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice.Total)
        </dd>
    </dl>
</div>


<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                Id
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Valor
            </th>
            <th>
                Identificador
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice.Expenses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identifier)
                </td>
            </tr>
        }
    </tbody>
</table>