@model IEnumerable<Expenses.Models.KeyWord>

@{
    ViewData["Title"] = "Palavras-chave";
}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#myTable').dataTable({
            "language": {
                "info": "Mostrando de _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "lengthMenu": "Mostrar _MENU_ registros",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeira",
                    "last": "Última",
                    "next": "Próxima",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": clique para organizar em ordem crescente",
                    "sortDescending": ": clique para organizar em ordem decrescente"
                }
            },

            "columnDefs": [{
                "targets": 1,
                "orderable": false
            }]

        });
    });
</script>


<br />
<br />
<h2><i class="bi bi-key-fill"></i> @ViewData["Title"]</h2>
<br />

<input type="button" onclick="location.href='@Url.Action("Create", "Keywords")'" class="btn btn-outline-primary" value="Criar Palavras-chave" />
<br />
<br />

@if (TempData.ContainsKey("created"))
{
    int created = (int)TempData["created"];
    if (created > 0)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @if (created == 1)
            {
                <span><strong>@TempData["created"] </strong> Palavra-chave foi criada.</span>
            }
            else
            {
                <span><strong>@TempData["created"] </strong> Palavras-Chave foram criadas.</span>
            }
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span>Nenhuma palavra-chave foi criada.</span>
        </div>
    }
}

@if (TempData.ContainsKey("updated"))
{
    string updated = (string)TempData["updated"];
    if (updated != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span>A Palavra-chave <strong>@TempData["updated"] </strong> foi atualizada.</span>
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span>Nenhuma palavra-chave foi atualizada.</span>
        </div>
    }
}

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>